@import "tailwindcss";

@theme {
  /* 1. DAFTARKAN WARNA KHAS MASS FM DISINI */
  --color-primary: #822a6e;
  --color-secondary: #2d132c;
  --color-background-light: #f8f9fa;

  /* 2. HUBUNGKAN FONT AGAR SESUAI DESAIN */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-display: var(--font-montserrat), ui-sans-serif, system-ui;
}

/* 3. ATUR BACKGROUND HALAMAN AGAR BERSIH */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: var(--font-inter), sans-serif;
  }
}